
<section>
    <div style="justify-content:center;" class="row mt-4">

        <div class="col-md-6 text-white ">
            <h2 class="text-center">Edit Products</h2>
          <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">          {{!--file aploding --}}
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control" value="{{product.Name}}">

                <label for="">Category</label>
                <input type="text" name="Category" class="form-control" value="{{product.Category}}">

                <label for="">Price</label>
                <input type="text" name="Price" class="form-control" value="{{product.Price}}">

                   <label for="">Discription</label>
                <input type="text" name="Description" class="form-control" value="{{product.Description}}">

                   <label for="">Image</label>
                   <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px; height:auto;" id="imgView" class="pt-3">
                <input type="file" name="Image" class="form-control" onchange="viewImage(event)">

                <button type="submit" class="btn btn-success mt-4">Submit</button>


            </form>
        </div>
    </div>
</section>

{{!-- image sudenly changing function --}}
<script>
    function viewImage(event){
        document.getElementById('imgView ').src=URL.createObjectURL(event.target.files[0])


    }
</script>