<section> 
    <div class="container ">
      <div class="row mt-5">
        <a href="/admin/add-product" class="btn btn-success" style="width: 130px; font-weight: bold;" >Add producte</a>
      </div>
               <table class="table mt-5 .text-light" style="color:#fff ;">
  <thead>    
    <tr>
    
      <th scope="col">Tittle</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
  {{#each products}}  
    <tr> 
      
      
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Description}}</td>
      <td><img style="width: 65px;height:55px;" src="/product.images/{{this._id}}.jpg" alt=""></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are You Want To Delete {{this.Name}}?')">Delete</a>
     
        
        </td>
     
    </tr>
    {{/each}}
   
  
  </tbody>
</table>
    </div>
</section>