
<section>
    <div  class="container">
        <table style="color: #fff;" class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <tr>
                  
                    <td><img style="width: 70px; height: 70px;" src="/product.images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>{{this.product.Price}}</td>
                    
                     <td>
                      <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    
                     
                       
                     </td>
                     <td>
                        


                 <button class="btn btn-danger" onclick="removeCartProduct('{{this._id}}','{{this.product._id}}','{{this.quantity}}')">Remove</button>


                     </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        <hr>
     
       <h3 style="text-align:end;color:#fff;margin-right:170px;">Totel:Rs  <span id="total">{{totalValue}}</span></h3>
       
       <a   style="margin-left: 670px;font-weight: bold;" href="/place-order" class="btn btn-success mt-3">Place Order</a>
    

    </div>
</section>


<script>




    function changeQuantity(cartId,proId,userId,count){
        console.log(proId)
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)
        


        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(responce)=>{
                if(responce.removeProduct){
                    alert("product Removed From Cart")
                    location.reload()

                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=responce.total
                
                }
            }
        })
    }




function removeCartProduct(cartId, productId, quantity) {
        $.ajax({
            url: '/remove-cart-product',
            data: {
                cart: cartId,
                product: productId
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    alert("Your Item has been removed.");
                    let cartCount = $("#cart-count").html();
                    cartCount = parseInt(cartCount) - parseInt(quantity);
                    $("#cart-count").html(cartCount);
                    if (cartCount > 1) {
                        $("#table").load(" #table");
                        $("#total").load(" #total");
                    } else {
                        location.reload()
                    }
                } else {
                    alert("Remove Error")
                }
            }
        })
    }




</script>



