    <section>
         <div  class="container mt-4 p-2">
        <div class="row">
            {{#each products}}

            <div class="col-md-3 mt-5">
                <div class="card" style="width: 13rem; height: 22rem;">
     <img class="card-img-top" src="/product.images/{{this._id}}.jpg" style="height: 170px;" alt="Card image cap">
    
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    <p class="cart-text">Rs.{{this.Price}}</p>
    <p class="card-text">{{this.Description}}</p>
    
   
    <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add To Cart</a>
      
  </div>
</div>
      </div>
      {{/each}}

     
            </div>
        </div>
        </div>
    </section>


 